
<form class="validate" novalidate="novalidate">
 <div class="row">	
		<div class="col-md-12">
			<div class="form-group">
				<label for="field-2" class="control-label">入库单号</label>
				<input type="text" class="form-control" name="sn" placeholder="入库单号" value="{$info.orderNO|default=''}" disabled="disabled">
			</div>	
		</div>
        <div class="col-md-8"> </div>
	</div>

    <div class="row">   
        <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">制单人</label>
                <input type="text" class="form-control" name="author" placeholder="制单人" value="{$info.operatename|default=''}" disabled="disabled">
            </div>  
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">入库类型</label>
              <input type="text" class="form-control" name="ordertype" placeholder="入库类型" value="{$info.ordertype|get_ordertypenohtml}" disabled="disabled">　  　
                  </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">供应商</label>
                <input type="text" class="form-control" name="supplier" placeholder="供应商" value="{$info.suppliername|default=''}" disabled="disabled"> 
            </div>
        </div>        
    </div>
<div class="row">   
        <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">仓库</label>
                <input type="text" class="form-control" name="storageinfoname" placeholder="仓库" value="{$info.sname|default=''}" disabled="disabled">
                 
            </div>  
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">出库时间</label>
                <input type="text" class="form-control" name="orderdate" placeholder="出库时间" value="{$info.orderdate|default=''}" disabled="disabled">
            </div>
        </div>
       
    </div>

    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
            <tr role="row">
                <th>产品编号</th>
                <th class="sorting_disabled" rowspan="1" colspan="1">
                    产品名称
                </th>
                 <th class="sorting_disabled" rowspan="1" colspan="1">
                    价格
                </th>
                <th class="sorting_disabled" rowspan="1" colspan="1">
                    入库数
                </th>

            </tr>
        </thead>
        <tbody>

             {volist name='orderdetaillist' id='vo'}

                <tr role="row" class="odd">
                    <td>
                         <input type="text" class="form-control" value="{$vo.sn|default=''}" disabled="disabled"> 
                    </td>
                    <td> 
                        <input type="text" class="form-control" value="{$vo.pname|default=''}" disabled="disabled"> 
                    </td>
                     <td> 
                        <input type="text" class="form-control" value="{$vo.price|default=''}" disabled="disabled"> 
                    </td>
                    <td><input type="text" class="form-control" value="{$vo.gnumber|default=''}" disabled="disabled"></td>

                </tr>
             {/volist}
        </tbody>
    </table>



	<div class="row">
		<div class="col-md-12">
			<div class="form-group no-margin">
				<label for="field-7" class="control-label">备注</label>
				<textarea class="form-control autogrow" name="desc" placeholder="备注" disabled="disabled"
                style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;">{$info.vcdesc|default=''}</textarea>
			</div>	
		</div>
	</div>

	
</form>

