<style>
  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    
}  
</style>

<section>
          <div class="row">
          <div class="nav-tabs-custom">
          
            <div class="tab-content">
            
                  <div class="row">
                      <div class="col-md-6" style=" border-right:  1px #000 dashed;">
                                
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="from_title-header">
                                            <i class="fa fa-globe"></i>墓穴信息：{$info.gardename}/{$info.areaname}/{$info.name}
                                        </h3>
                                    </div>
  </div>        
                                 <table class="table">
                                    <tbody>            
                                        <tr>
                                            <td>
                                                <div  class="">购买人：{$sellinfo.buyer|default=''}</div> 
                                                
                                                 </td>
                                            <td>
                                                <div  class="">墓主信息：{$sellinfo.buyer|default=''}</div> 
                                               
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>
                                                <div  class="">联系电话：{$sellinfo.phone|default=''}</div> 
                                             </td>
                                            <td>
                                                <div  class="">购买日期：{$sellinfo.orderbegin|default=''}</div> 
                                               
                                            </td>
                                            
                                        </tr>
                                      <tr>
                                            <td>
                                                <div  class="">经办人：{$sellinfo.sellname|default=''}</div> 
                                                </td>
                                            <td>
                                                <div  class="">单据金额：{$sellinfo.billTolamount|default='0.00'}</div> 
                                              
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                                   
                             <table class="table table-striped">
                                   <caption>购墓收费明细</caption>
                                    <tbody>
                                         <thead>
                                        <tr>
                                          <th>收费项目</th>
                                            <th>金额</th>
                                         </tr>
                                    </thead>
                                    {volist name='Financeinfo' id='vo' }
                                    <tr>
                                  <td>{$vo.selltitle} </td>
                                  <td>{$vo.realprice} </td>
                                </tr>
                                    {/volist}
                                    
                                    </tbody>
                                </table>
                                
                            </div>
   <form  id="formreserve">
                        <input type="hidden" name="id" value="{$cancellist.id}"/>   
                      
                      
                <div class="col-md-6"  >             
         <div class="panel panel-default">
    <div class="panel-heading">退费申请</div>
      <ul class="list-group">
       <li class="list-group-item">申请人:{$cancellist.buyer|default=''}</li>
        <li class="list-group-item">联系人：{$cancellist.phone|default=''}</li>
        <li class="list-group-item">单据金额：{$cancellist.billprice|default='0.00'}</li>
        <li class="list-group-item">申请退款金额：{$cancellist.returnprice }</li>
         <li class="list-group-item">手续费：{$cancellist.readprice}</li>
        <li class="list-group-item">申请日期:{$cancellist.create_time}</li>
         <li class="list-group-item">申请原因：{$cancellist.returndesc}</li>
    </ul>
     
</div>
                    
                     <div class="panel panel-success">
    <div class="panel-heading">审批意见</div>
       
    <div class="panel-body">
        <p>
                <textarea class="form-control" name="vcnote" id="vcnote" rows="4" placeholder="审批意见 ">{$cancellist.vcnote|default=''}</textarea>  
                               
        </p>
    </div> 
</div>
             </form>       
              </div>                 
    </div> 

  <div class="modal-footer"  >
       {if condition="$cancellist.isok eq 0"}
                             <a   href="javascript:" onclick="canacel_cl(2);"  type="button"  class="btn btn-default"><span class="ladda-label">
                                    <i class="fa fa-check"></i>同意
                                </span>
                            </a>
                            
                           <a   href="javascript:" onclick="canacel_cl(1);"  type="button"  class="btn btn-default"><span class="ladda-label">
                                    <i class="fa fa-check"></i>不同意
                                </span>
                            </a>
       {/if}
                            <a type="button" class="btn btn-default" data-dismiss="modal"> 
                                <span class="ladda-label"><i class="fa fa-close"></i> 关闭</span></a>
                    </form>
                </div>
                      
                </div>          
              
            </div>
            <!-- /.tab-content -->
   
          <!-- /.nav-tabs-custom -->
       </section>
 
 <script>
 

 function canacel_cl(type) {
        url = "{:url('canacel_cl_ajax')}";
        sj = Math.random(1000);
        data = $("#formreserve").serialize() + "&sj=" + sj+"&type="+type;
        $.post(url, data, function(result) {
            infodate = JSON.parse(result);
            if (infodate.code == 0) {
                  alert(infodate.msg);
                   location.reload();    
            }
            else
            {
              toast.error(infodate.msg);
          }
             $('#myModa2').modal('hide'); 
          
        });
    }
 </script>