<style>
  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    
}  
</style>

<section>
          <div class="row">
          <div class="nav-tabs-custom">
          
            <div class="tab-content">
            
                  <div class="row">
                      <div class="col-md-5" style=" border-right:  1px #000 dashed;">
                                
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="from_title-header">
                                            <i class="fa fa-globe"></i>墓穴信息：{$info.gardename}/{$info.areaname}/{$info.name}
                                        </h3>
                                    </div>
  </div>        
                                 <table class="table">
                                    <tbody>            
                                        <tr>
                                            <td>
                                                 购买人：{$sellinfo.buyer|default=''}    </td>
                                            <td>
                                                电话：{$sellinfo.phone|default=''}
                                                </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>
                                                <div  class="">墓主： {volist name='bury' id='vo' }
                                                    {$vo.vcname}({$vo.sex|getsex})
                                                     {/volist}
                                                </div> 
                                             </td>
                                            <td>
                                                <div  class="">购买日期：{$sellinfo.orderbegin|default=''}</div> 
                                               
                                            </td>
                                            
                                        </tr>
                                      <tr>
                                           
                                            <td>
                                                <div  class="">单据金额：{$sellinfo.billTolamount|default='0.00'}</div> 
                                              
                                            </td>
                                             <td>
                                                <div  class="">经办人：{$sellinfo.sellname|default=''}</div> 
                                           </td>
                                        </tr>
                                    </tbody>
                                </table>
                                   
                             <table class="table table-striped">
                                   <caption>购墓收费明细</caption>
                                    <tbody>
                                         <thead>
                                        <tr>
                                          <th>收费项目</th>
                                            <th>金额</th>
                                         </tr>
                                    </thead>
                                    {volist name='Financeinfo' id='vo' }
                                    <tr>
                                  <td>{$vo.selltitle} </td>
                                  <td>{$vo.realprice} </td>
                                </tr>
                                    {/volist}
                                    
                                    </tbody>
                                </table>
                                
                            </div>
   <form  id="formreserve">
                        <input type="hidden" name="cid" value="{$info.id}"/>   
                        <input type="hidden" name="sid" value="{$sellinfo.id}"/> 
                       
                <div class="col-md-6"  >             
           <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="from_title-header">
                                            <i class="fa fa-globe"></i>退费申请：   <span style=" margin-left: 50px"> 
                                               <select class="form-control_zhj2 selectval" onchange="split()">
                                                     <option value="">请选择退墓联系人</option>
                                                   {foreach name="linkmanlist" item="vo"   }
                                                    <option value="{$vo.linkname}|{$vo.phone}|{$vo.job}|{$vo.address}">{$vo.linkname}|{$vo.phone}|{$vo.job}|{$vo.address}</option>
                                                    {/foreach}</select>
                                        </h3>
                                    </div>
                            </div>             
                                
                                <div class="row invoice-info">
       <table class="table">
           <tbody>
               <tr>
                   <td>审批人:</td>
                   <td  >
         
          <select class="myselect form-control_zhj2"  name="manager" id='manager' style="width: 150px; ">
								   {volist name='member' id='vo'}
		 	 <option value="{$vo['id']}">{$vo['nickname']}</option>
			  {/volist}
								</select> </td>
                                                                
                                                               
                  </tr>
            
              <tr>
                <td>退墓联系人   
                                            
                                             </td>
           <td> <input   name="buyer" value=""  class="form-control_zhj2 selval"    type="text"></td>
            <td>联系电话 </td> 
           <td> <input name="phone"  value=""  class="form-control_zhj2 selval"   type="text"></td>
            </tr>
                   
            <tr>
                <td>工作单位 </td>
           <td> <input name="job"  value=""  class="form-control_zhj2 selval" type="text"></td>
            <td>家庭住址 </td> 
           <td>  <input   name="address" value=""  class="form-control_zhj2 selval"   type="text"></td>
            </tr>
             <tr>
                 <td>购墓金额</td>
                <td>  <input  name='billprice'  value="{$sellinfo.billTolamount|default='0.00'}" readonly="true"  class="form-control_zhj2 " type="text"></td>
                 <td>返还金额</td>
                <td> <input   name='returnprice'  value="{$cancel_retrun|default='0.00'}" readonly="true"   class="form-control_zhj2"   type="text"></td>
            	 </tr>
                   
                   <tr>
                 <td>{$returnprice.name}</td>
                <td>  <input  name="chargeitem[{$returnprice.id}]" value="{$returnprice.defaultprice|default=0}"  class="form-control_zhj2 " type="text"></td>
                 <td> </td>
            	  <td> </td>
                     </tr>     
                     
                </tbody>
          </table>
        </div> 
                    
   
                     <div class="row">
                                    <div class="col-xs-12">
                                       <div  class="div_lable_zhj">退款原因:</div> 
                 <textarea class="form-control" name="returndesc" id="returndesc" rows="3" placeholder="撤销理由"></textarea>  
                                    </div>
                            </div>             
                                
       
             </div>                 
                            </div> 

  <div class="modal-footer"  >
                             <a   href="javascript:" onclick="cancel_submit();"  type="button"  class="btn btn-default"><span class="ladda-label">
                                    <i class="fa fa-check"></i>提交 
                                </span>
                            </a>
                            
                          
                            <a type="button" class="btn btn-default" data-dismiss="modal"> 
                                <span class="ladda-label"><i class="fa fa-close"></i> 关闭</span></a>
                    </form>
                </div>
                      
                </div>          
              
            </div>
            <!-- /.tab-content -->
   
          <!-- /.nav-tabs-custom -->
       </section>
 