<style>
  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    
}  
   .table_zhj > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #0d0c0c;
}
</style>

<section>
          <div class="row">
          <div class="nav-tabs-custom">
          
            <div class="tab-content">
                <div class="row">
                      <div class="col-md-5" style=" border-right:  1px #000 dashed;">
                                
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="from_title-header">
                                            <i class="fa fa-globe"></i>墓穴信息：{$info.gardename}/{$info.areaname}/{$info.name}
                                        </h3>
                                    </div>
  </div>        
                                 <table class="table table_zhj">
                                    <tbody>            
                                        <tr>
                                            <td>
                                                 购买人：{$sellinfo.buyer|default=''}    </td>
                                            <td>
                                                电话：{$sellinfo.phone|default=''}
                                                </td>
                                            
                                        </tr>
                                        <tr>
                                             <td>
                                                <div  class="">单据编号：{$sellinfo.orderNO|default=''}</div> 
                                           </td>
                                             <td>
                                                <div  class="">单据金额：{$sellinfo.billTolamount|default='0.00'}</div> 
                                              
                                            </td>
                                          
                                        </tr>
                                        <tr>
                                            <td>
                                                <div  class="">墓主：{$sellinfo.buryname|default=''}  
                                                </div> 
                                             </td>
                                            <td>
                                                <div  class="">购买日期：{$sellinfo.orderbegin|default=''}</div> 
                                             </td>
                                          </tr>
                                         
                                      <tr>
                                           
                                            <td>
                                                <div  class="">付款方式：{$sellinfo.payvarchar }</div> 
                                               </td>
                                            
                                          
                                             <td>
                                                <div  class="">经办人：{$sellinfo.sellname|default=''}</div> 
                                           </td>
                                        </tr>
                                    </tbody>
                                </table>
                                   
                             <table class="table table-striped">
                                   <caption>收费明细</caption>
                                    <tbody>
                                         <thead>
                                        <tr>
                                          <th>收费项目</th>
                                           <th>应收金额</th>
                                            <th>实收金额</th>
                                             <th>优惠金额</th>
                                         </tr>
                                    </thead>
                                    {volist name='Financeinfo' id='vo' }
                                    <tr>
                                  <td>{$vo.selltitle} </td>
                                    <td>{$vo.sellprice} </td>
                                  <td>{$vo.realprice} </td>
                                    <td>{$vo.offerprice} </td>
                                </tr>
                                    {/volist}
                                    
                                    </tbody>
                                </table>
                                
                            </div>
   <form  id="formreserve">
                        <input type="hidden" name="cid" value="{$info.id}"/>   
                        <input type="hidden" name="sid" value="{$sellinfo.id}"/> 
                         
                <div class="col-md-6"  >             
           <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="from_title-header">
                                            <i class="fa fa-globe"></i>购墓优惠申请  <span style=" margin-left: 50px"> 
                                               
                                        </h3>
                                    </div>
                            </div>             
                                
                      <div class="row">
                                    <div class="col-xs-12">
                                           <div class="panel panel-success">
   
   
    <ul class="list-group">
        <li class="list-group-item">审批人: <select class="myselect form-control_zhj2"  name="manager" id='manager' style="width: 150px; ">
								   {volist name='member' id='vo'}
		 	 <option value="{$vo['id']}">{$vo['nickname']}</option>
			  {/volist}
								</select></li>
      </ul>
    <div class="panel-body">
         <textarea class="form-control" name="offdesc" id="returndesc" rows="3" placeholder="申请优惠原因"></textarea>  
                                  
    </div>
</div> 
                                        
                         
                  </div>
                            </div>             
                                
       
             </div>                 
                            </div> 

  <div class="modal-footer"  >
                             <a   href="javascript:" onclick="offerprice_submit_ajax();"  type="button"  class="btn btn-default"><span class="ladda-label">
                                    <i class="fa fa-check"></i>提交 
                                </span>
                            </a>
                            
                          
                            <a type="button" class="btn btn-default" data-dismiss="modal"> 
                                <span class="ladda-label"><i class="fa fa-close"></i> 关闭</span></a>
                    </form>
                </div>
                      
                </div>          
              
            </div>
            <!-- /.tab-content -->
   
          <!-- /.nav-tabs-custom -->
       </section>
 