<link rel="stylesheet" href="__STATIC__/module/admin/css/cemetery.css">
<div class="box">
    <style>
        .search-form {
            width: 100% !important;
            margin-top: 5px;
        }
        .rqinput{ width:100px !important;}

    </style>
    <div class=" form-inline search-form">
        <div class="form-group">
            <label class="zhj-form-label">关键字：</label>
            <input name="search_data" class="form-control" value="{$formcs.search_data|default=''}" placeholder="单据编号|墓号|墓主" type="text">
        </div>
        <div class="form-group">
            <label class="zhj-form-label">状态：</label>
            <select name="resutlstatus" class="form-control">
                <option value ="-1" {if condition="(-1==$formcs.resutlstatus) "} selected = "selected"{/if}>所有</option>
                <option value ="0" {if condition="(0==$formcs.resutlstatus) "} selected = "selected"{/if}>未处理</option>
                <option value ="2" {if condition="(2==$formcs.resutlstatus) "} selected = "selected"{/if}>已经通过</option>
                <option value ="1" {if condition="(1==$formcs.resutlstatus) "} selected = "selected"{/if}>未通过</option>

            </select>
        </div>
        <div class="form-group">
            <label class="zhj-form-label">申请日期</label>
            <input type='text' class="form-control rqinput date" value="{$formcs.sbbegin|default=''}"  name="sbbegin" id="sbbegin"/>
            到        
            <input type='text' class="form-control rqinput date" value="{$formcs.sbbegin|default=''}"  name="sbbegin" id="sbend"/>
        </div>

        <div class="form-group">
            <button type="button" id="search" url="{:url('OfferpriceList')}" class="btn btn-default" style=" margin-bottom: 6px;"><i class="fa fa-search"></i> 查询</button>
        </div>


    </div>


    <div class="box-body table-responsive">
        <table  class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>单号</th>
                    <th>墓号</th> 
                    <th>购买人</th>
                    <th>申请日期</th>
                    <th>状态</th>
                     <th>应收</th>
                    <th>实收</th>
                     <th>优惠</th>
                    <th>操作</th>
                </tr>
            </thead>


            <tbody>
                {volist name='list' id='vo'}
                <tr>
                    <td>{$vo.orderNO}</td>
                    <td>{$vo.cname}</td>
                    
                    <td>{$vo.buyer}</td>
                    <td>{$vo.create_time}</td>
                    <td>{$vo.isok|getisok}</td>
                    <td>{$vo.xszj}</td>
                    <td>{$vo.zj}</td>
                     <td>{$vo.yhjg}</td>
                    <td class="col-md-3 text-center">
                        {if condition="$vo['isok'] eq 0"}
                        <a href="javascript:;" class="btn" onclick='show_Offerprice_cl_ajax("{$vo.id}")'><i class="fa fa-edit"></i>处理</a>  
                        {/if} 
                        {if condition="$vo['isok'] neq 0"}
                        <a href="javascript:;" class="btn" onclick='show_Offerprice_cl_ajax("{$vo.id}")'><i class="fa fa-edit"></i>查看</a>  
                        {/if} 

                    </td>
                </tr>
                {/volist}
            </tbody>

        </table>
    </div>

    <div class="box-footer clearfix text-center">
        {$list->render()}
    </div>

</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog900">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">工作处理</h4>
            </div>
            <div class="modal-body" style="height:600px;"> 

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
    //导出功能
    function show_Offerprice_cl_ajax(rid) {
        url = "{:url('show_Offerprice_cl_ajax')}";
        sj = Math.random(1000);
        $.post(url, {id: rid, sj: sj}, function (result) {
            infodate = JSON.parse(result);
            if (infodate.code == 0) {
                $('#myModa2 .modal-body').html(infodate.data);
                $("#myModa2").modal({show: true, backdrop: false}); //手动开启*/
            } else {
                alert(infodate.msg);
            }
        });
    }



    function canacel_cl(type) {
        url = "{:url('canacel_cl_ajax')}";
        sj = Math.random(1000);
        data = $("#formreserve").serialize() + "&sj=" + sj + "&type=" + type;
        $.post(url, data, function (result) {
            infodate = JSON.parse(result);
            if (infodate.code == 0) {
                alert(infodate.msg);
                location.reload();
            } else
            {
                alert(infodate.msg);
            }

            $('#myModa2').modal('hide');
        });
    }

    $('.date').datetimepicker({
        format: 'yyyy-mm-dd', //显示格式可为yyyymm/yyyy-mm-dd/yyyy.mm.dd
        autoclose: true,
        startView: 2,
        minView: 'month',
        language: 'zh-CN' //语言
    });
</script>