<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5px;

    }  
    .lbli{ float:left; list-style:none; width: 80px;}
    .table_zhj > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid #0d0c0c;
    }
    .div_lable_zhj{ width: 100px;}
    .sfxm{ width:60px;}
</style>
<div id="my-app">
    <form  id="formreserve">
        <section>
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="from_title-header">
                        <i class="fa fa-globe"></i>新墓穴信息:{$info.gardename}/{$info.areaname}/{$info.name}
                        <span style=" margin-left: 50px"> 
                            <select class="form-control_zhj2 selectval" onchange="split()">
                                <option value="">请选择联系人</option>
                                {foreach name="linkmanlist" item="vo"   }
                                <option value="{$vo.linkname}|{$vo.phone}|{$vo.relation} ">{$vo.linkname}|{$vo.phone}|{$vo.relation} </option>
                                {/foreach}</select>
                        </span>   
                       
                    </h3>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-xs-12 table-responsive">
                    <table class="table table_zhj">
                        <tbody>
                            <tr>
                                <td>旧墓穴购买价格 </td>
                                <td ><span>{$oldsellinfo.billTolamount|default='0.00'}</span>
                                </td>
                                <td>购买时间</td>
                                <td> <span>{$oldsellinfo.orderbegin }</span>   </td>
                                <td>墓主</td>
                                <td><span>{$buryanme }</span>  </td>
                            </tr> 
                            <tr>
                                <td>新墓穴  <a   href="javascript:" @click="dialogTableVisible = true" type="button"  class="btn btn-default"><span class="ladda-label ">
                                            <i class="fa fa-search"></i>选择.....
                                        </span>
                                    </a></td>
                                <td  colspan="3">
                                    <input type="hidden" name="newcname"  v-model="tamp.name"/>  
                                    <p id="new_muinfo"> {{tamp.garden_name}} / {{tamp.garden_name}} / {{tamp.name}} </p>
                                </td>

                                <td>迁墓时间</td>
                                <td>  <input  name="movetime" value="" class="form-control_zhj2 date"    type="text"></td>
                            </tr> 
                            <tr>
                                <td>联系人{{tamp.area_name}} </td>
                                <td >
                                    <input   name="buyer" value="{$sellinfo.buyer|default=''}"  class="form-control_zhj2 selval"   type="text"> 
                                </td>
                                <td>联系电话</td>
                                <td>  <input name="phone"  value="{$sellinfo.phone|default=''}"  class="form-control_zhj2  selval"   type="text">
                                </td>
                                <td>关系</td>
                                <td>  <input   name="relation" value="{$sellinfo.relation|default=''}"  class="form-control_zhj2 selval"   type="text"></td>
                            </tr> 
                            <tr>
                                <td colspan="6"> 
                                    <i class="fa fa-globe"></i>配套服务

                                </td>

                            </tr>
                            <tr>
                                <td colspan="6">  <table class="table  ">
                                        <tbody>
                                            {volist name='chargeitem' id='vo' mod="4"}
                                            {eq name="mod" value="0"} <tr>{/eq}
                                                <td>
                                                    <div  class="div_lable_zhj">{$vo.name}:</div>
                                                    {if condition="($vo.showtype ==2 )"}
                                                    <select class="form-control_zhj selebox"  name="chargeitem[{$vo.id}]" onchange="allprice()"  >
                                                        {foreach name="vo['select']" item="v3" key="k" }
                                                        <option value="{$k}" {if condition="$vo.defaultprice eq $k"}selected="selected"{/if}> {$v3} </option> 
                                                        {/foreach}  
                                                    </select>
                                                    {else /}
                                                    <input   name="chargeitem[{$vo.id}]" value="{$vo.defaultprice|default=0}"  class="form-control_zhj s_price" onblur="allprice()"  type="text">
                                                    {/if}
                                                </td>
                                                {eq name="mod" value="3"}  </tr>{/eq}
                                            {/volist}
                                        </tbody>
                                    </table></td> 
                            </tr>
                            <tr>
                                <td colspan="6"> 
                                    <i class="fa fa-globe"></i>特殊服务
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6"> <table class="table">
                                        <tbody>
                                            <tr> 
                                                <td>
                                                    {volist name='Serviceinfoitem' id='v1'}  
                                                    <span style=" margin-right: 10px;"><input   type="checkbox" name="Serviceinfo[{$v1.id}]" {if condition="$v1.ischeck eq 1"} checked="true" {/if}   class="checkprice" onclick="allprice()" value="{$v1.price}" >{$v1.servicename}({$v1.price})  
                                                    </span>
                                                    {/volist}    
                                                </td>
                                            </tr> 
                                        </tbody>
                                    </table></td> 
                            </tr>
                            <tr>
                                <td>付款方式</td>
                                <td>   <ul>  {foreach name="paytype" item="vo"   key="k" }
                                        <li class="lbli">
                                            <input type="checkbox" value="1" name='fklx[{$k}]'  {if condition="$vo['ischeck'] eq 1"} checked {/if} class="fklx{$k}" onclick="ischeck(this)">{$vo.name}
                                                   <input name="fklxval[{$k}]" value="{$vo.value}"    class="sfxm fklx{$k}" type="text" style="display: none;">
                                        </li> {/foreach}


                                    </ul>
                                </td>
                                <td>发票</td>
                                <td> <select name="isvoice" class="form-control_zhj"> 
                                        <option value="0"  {if condition="$sellinfo.isvoice eq 0"}selected="selected"{/if}>不开票</option>
                                        <option value="1"   {if condition="$sellinfo.isvoice eq 1"}selected="selected"{/if}>开票</option>
                                    </select></td>
                                <td>总金额：</td>
                                <td>
                                    <span class="all_cost">{$sellinfo.billTolamount}</span>   
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.row -->

            <!-- Table row -->
            <input type="hidden" name="newcid" v-model="newcid" value="0"/>   
            <input type="hidden" name="oldsid" value="{$oldsellinfo.id}"/> 
            <input type="hidden" name="oldcid" value="{$info.id}"/>   
            <input type="hidden" name="oldcname" value="{$info.name}"/>   
            <input type="hidden" name="sid" value="{$sellinfo['id']|default='0'}"/>
            <input type="hidden" name="changid" value="{$SellchangInfo.id|default='0'}"/>
            <input type="hidden" name="cid" value="{$info.id}"/>

            <div class="modal-footer"  >

                <a   href="javascript:" onclick="sellchangid_submit_ajax();"  type="button"  class="btn btn-default"><span class="ladda-label">
                        {empty name="$light.id"}    <i class="fa fa-check"></i> 增加{else /}
                        <i class="fa fa-edit"></i> 修改{/empty}
                    </span></a>
                <a type="button" class="btn btn-default" data-dismiss="modal"> <span class="ladda-label"><i class="fa fa-close"></i> 关闭</span></a>

            </div>
    </form>
</section>

<el-dialog title="墓穴查询" 
           :visible.sync="dialogTableVisible" 
           :modal-append-to-body="false" 
           append-to-body width="900px"
           top="3vh">
    <my-component 
        :datatable="tableData" 
        :gardens="gardenData" 
        :areas="areaData"
        :types="typeData" 
        :loading="loading"
        :styles="styleData" 
        @garden_param="garden_param"
        @tableinit="tableinit"
        @rowdata="rowdata"
        >
    </my-component>
</el-dialog>
</div>

<script>
    new Vue({
        el: '#my-app',
        components: {
            'my-component': httpVueLoader('__ROOT__/VueCom/itable.vue')
        },
        data: {
            tamp: {},
            gardenData: [],
            tableData: [],
            areaData: [],
            typeData: [],
            styleData: [],
            formInline: '',
            loading: true,
            name: '',
            couponSelected: [{
                    name: '单穴',
                    value: 1
                }, {
                    name: '双穴',
                    value: 2
                }, {
                    name: '三穴',
                    value: 3
                }
            ],
            selected: 1,
            newcid: '',
            dialogTableVisible: false,
        },
        created() {
            this.tableinit(),
                    this.Gardeninit(),
                    this.Typeinit()
            this.Styleinit()
        },
        methods: {
            tableinit: function (param) {
                axios.post("{:url('Cemetery/getCemeteryList_ajax')}", {
                    param
                }).then(response => {
                    this.tableData = response.data.data
                    this.loading = false;
                })
            },
            Gardeninit: function () {
                axios.post("{:url('Cemetery/getCemeteryGarden_ajax')}")
                        .then(response => {
                            this.gardenData = response.data
                        })
            },
            Typeinit: function () {
                axios.post("{:url('Cemetery/getCemeterytype_ajax')}")
                        .then(response => {
                            this.typeData = response.data
                        })
            },
            Styleinit: function () {
                axios.post("{:url('Cemetery/getCemeteryStyle_ajax')}")
                        .then(response => {
                            this.styleData = response.data
                        })
            },

            garden_param: function (param) {
                axios.post("{:url('Cemetery/getCemeteryArea_ajax')}", {
                    id: param,
                })
                        .then(response => {
                            this.areaData = response.data
                        })
            },
            updata_table: function (param) {
                axios.post("{:url('Cemetery/getCemeteryArea_ajax')}", {
                    id: param,
                })
                        .then(response => {
                            this.areaData = response.data
                        })
            },

            rowdata: function (param) {
                this.dialogTableVisible = false;

                this.tamp = param
                this.name = param.name
                this.newcid = param.id
                let provinces = this.couponSelected.filter(function (area) {
                    return area.name == param.type_name;
                });
                this.selected = provinces[0].value

            },
        }
    });

    $('.date').datetimepicker({
        format: 'yyyy-mm-dd', //显示格式可为yyyymm/yyyy-mm-dd/yyyy.mm.dd
        autoclose: true,
        startView: 2,
        minView: 'month',
        language: 'zh-CN' //语言
    });

</script>