<form action="{:url()}" method="post" class="form_single">
    <div class="box">
      <div class="box-body">
        <div class="row">
          
 
          <div class="col-md-6">
            <div class="form-group">
              <label>类别名称</label>
              <input class="form-control" name="name" placeholder="请输入类别名称" type="text">
            </div>
          </div>
             <div class="col-md-6">
            <div class="form-group">
              <label>上级分类</label>
            <select class="form-control" name="pid">
                    <option value="0"  >默认</option> 

                    {volist name='category' id='vo'}
                    	<option value="{$vo.id}">{$vo.name}</option>
                    {/volist}

                </select>  
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label> 描述</label>
			  <textarea class="form-control" name="vcdesc" rows="3" placeholder="请输入类别名称描述"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        {include file="layout/edit_btn_group"/}
      </div>
    </div>
</form>
