<style>
  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    
}  
.lbli{ float:left; list-style:none;  }
   .table_zhj > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #0d0c0c;
}
.div_lable_zhj{ width: 100px;}
.sfxm{ width:60px;}
</style>

<section>
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h3 class="from_title-header">
            <i class="fa fa-globe"></i>墓穴信息:{$info.gardename}/{$info.areaname}/{$info.name}
            <span style=" margin-left: 50px"> 
                                               <select class="form-control_zhj2 selectval" onchange="split()">
                                                     <option value="">请选择购买人</option>
                                                    {foreach name="linkmanlist" item="vo"   }
                                                    <option value="{$vo.linkname}|{$vo.phone} ">{$vo.linkname}|{$vo.phone} </option>
                                                    {/foreach}</select>
                                            </span>   
            <span style=" float:  right">NO:<font style=" color: red">{$light.orderNO|default=''}</font></span>
           </h3>
        </div>
        <!-- /.col -->
      </div>
      <form  id="formreserve">
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-xs-12 table-responsive">
          <table class="table table_zhj">
                    <tbody>
                        <tr>
                            <td>墓主</td>
                <td >
                    <ul>
                        {volist name='bury' id='vo'}
                        <li class="lbli">
                        <input type="checkbox" value="{$vo.vcname}" name=' bury[]'  {if condition="$vo['ischeck'] eq 1"} checked {/if}>{$vo.vcname}({$vo.sex|getsex}) </li>
                          {/volist}

                    </ul>
                </td>
                <td>购买人</td>
                 <td><input   name="buyer" value="{$light.buyer|default=''}"  class="form-control_zhj2 selval"   type="text">
                </td>
                 <td>电话</td>
                 <td> <input name="phone"  value="{$light.phone|default=''}"  class="form-control_zhj2  selval"   type="text"></td>
                   </tr>
               <tr>
                   <td>点灯日期</td>
                   <td> {$lightplan.planname}
                        <input type="hidden" name="lightplanid" value="{$light.lightplanid}"/>
                   </td>
                   <td>数量</td>  
                   <td> 
                                <select class="form-control_zhj"  name="amount"   >
                                    {for start="0" end="10"}
                                    <option value="{$i}"  {if condition="$light.amount eq $i"}selected="selected"{/if}>{$i}</option>
                                    {/for}</select>
                            </td>
                             <td>单价</td> 
                     <td>  
                         <input name="price"   value="{$light.price}"  class="form-control_zhj  "   readonly="true"  type="text"></td>
                 </tr>
                 
                 <tr>
                     <td>缴费方式</td>
                     <td>
                            <ul>  {foreach name="paytype" item="vo"   key="k" }
                                                         <li class="lbli">
                                                        <input type="checkbox" value="1" name='fklx[{$k}]'  {if condition="$vo['ischeck'] eq 1"} checked {/if} class="fklx{$k}" onclick="ischeck(this)">{$vo.name}
                                                        <input name="fklxval[{$k}]" value="{$vo.value}"    class="sfxm fklx{$k}" type="text" style="display: none;">
                                                       </li> {/foreach}
                                                    
                                                     
                                                </ul>
                            </td>
                             <td>发票号码</td> 
                            <td> 
                                <input   name="voiceno" value="{$light.voiceno|default=''}"  class="form-control_zhj isclear"   type="text">  
                            </td>
                             <td>备注</td> 
                            <td>
                              
                                <input   name="vcnote" value="{$light.vcnote|default=''}"  style=" width: 250px;" class="form-control_zhj isclear"   type="text">  
                            </td>
                        </tr>
                            <tr>
                     <td>总价： </td>
                     <td colspan="5">
                         <span style=" float:  left"><font style=" color: red">{$sellinfo.billTolamount|default='0.00'}</font></span>
                           </td>
                        </tr>
                    </tbody>
                </table>
        </div>
       
      </div>
             <input type="hidden" name="lid" value="{$light.id|default='0'}"/>
                <input type="hidden" name="cid" value="{$info.id}"/>
                <input type="hidden" name="sid" value="{$light.tid|default='0'}"/>
       
      <div class="modal-footer"  >
       <a   href="javascript:" onclick="light_submit_ajax();"  type="button"  class="btn btn-default"><span class="ladda-label">
                            {empty name="$light.id"}    <i class="fa fa-check"></i> 增加{else /}
                         <i class="fa fa-edit"></i> 修改{/empty}
                        </span></a>
        <a type="button" class="btn btn-default" data-dismiss="modal"> <span class="ladda-label"><i class="fa fa-close"></i> 关闭</span></a>
      
      </div>
      </form>
    </section>

 <script>
 
     function ischeck(param){
      isshow= $(param).attr('class')
      if($(param).is(':checked')){
          $('.'+isshow).eq(1).show()
        $('.'+isshow).eq(2).show()
      }else{
        $('.yhShow_').val(1)
        yxblur()
        $('.'+isshow).eq(1).hide()
        $('.'+isshow).eq(2).hide()
      }
  }
 
 </script>