<table class="table table-striped table-bordered">

    <thead>
        <tr> 
            <th>单据编号</th>
            <th>墓主</th>
            <th>购买人</th>
            <th>电话</th>
            <th>付款类型</th>
            <th>点灯时间</th>
            <th>数量</th>
            <th>总价</th>
            <th>缴费</th>
            <th>操作</th>
        </tr>
    </thead>

    {notempty name='list' }
    <tbody>
           {volist name='list' id='vo'}
     
        <tr {$vo.orderstatus|gettable_color}> 
            <td>{$vo.orderNO}</td>
            <td>{$vo.buryname}</td>
            <td>{$vo.buyer}</td>
            <td>{$vo.phone}</td>
            <td>{$vo.lightpaytype|getlightpaytype}</td>
            <td title='{$vo.planvcdesc}'>{$vo.planname}  </td>
            <td>{$vo.amount}</td>
            <td>{$vo.price*$vo.amount}</td>
             <td>{$vo.orderstatus|get_paystatus}</td>

            <td class=" text-center">
                  {if condition="$vo.orderstatus neq 4"}  
                 <a href="#"  onclick="light_pay_ajax({$vo['id']})"> <i class="fa fa-print"></i>结算/打印</a> 
                 {/if}
                   &nbsp;
                     {if condition="$vo.orderstatus eq 1"}  
                  <a href="#"  onclick="light_edit_ajax({$vo['id']},{$vo['cid']})"><i class="fa fa-edit"></i> 编辑</a> 
                    &nbsp;
                    <a href="#"  onclick="light_del_ajax({$vo['id']})" ><i class="fa fa-remove"></i>删除</a> 
                    {else /}
                    <a href="#"  onclick="Sell_bill_show_ajax({$vo['tid']})"><i class="fa fa-edit"></i> 明细</a> 
                      
                   {/if} 
                   {if condition="$vo.orderstatus eq 2"}  
                     <a href="#"  onclick="show_Retrunprice_sq_ajax({$vo['tid']})" ><i class="fa fa-history"></i>作废</a>
                     {/if}
            </td>
            
             
              
            </td>
        </tr>
        {/volist}
    </tbody>
    {/notempty}
 <tr class="odd"><td colspan="10" class="text-center" valign="top">  <a href="#" onclick="show_Light_ajax({$cid})"    class="btn"><i class="fa  fa-edit"></i>点灯服务</a> </td></tr></tbody>
 

</table>