<form  id="formreserve">
    <div class="box">
      <div class="box-body">
        <div class="row">
        
          <div class="col-md-6">
            <div class="form-group">
              <label>墓位类型名称</label>
              <input class="form-control" name="name" placeholder="请输入墓位类型名称" type="text">
            </div>
          </div>
          
           <div class="col-md-6">
            <div class="form-group">
              <label>可埋葬人数</label>
              <input class="form-control" name="hrm" placeholder="请输入人数" type="text">
            </div>
          </div> 
            
          <div class="col-md-12">
            <div class="form-group">
              <label>墓位类型描述</label>
		 <textarea class="form-control" name="vcdesc" rows="3" placeholder="请输入墓位类型描述"></textarea>
            </div>
          </div>
        </div>
      </div>
        </form>
      <div class="modal-footer"  >
        <a   href="javascript:" onclick="cemeteryTypeAdd_ajax_submit();"  type="button"  class="btn btn-default"><span class="ladda-label"><i class="fa fa-check"></i> 提交</span></a>
        <a type="button" class="btn btn-default" data-dismiss="modal"> <span class="ladda-label"><i class="fa fa-close"></i> 关闭</span></a>
      </div>
    </div>
    