<style>
  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    
}  
</style>

<section>
          <div class="row">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="false">公墓信息</a></li>
              <li class=""><a href="#bury" data-toggle="tab" aria-expanded="false">墓主信息</a></li>
           
               <li class=""><a href="#linkman" data-toggle="tab" aria-expanded="false">联系人</a></li>
              <li class=""><a href="#sfjl" data-toggle="tab" aria-expanded="false">缴费记录</a></li>
              <li class=""><a href="#bw" data-toggle="tab" aria-expanded="false">碑文</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="activity">
                   <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
            
     
    <ul class="list-group">
     
        <li class="list-group-item">墓园：{$info.gardename}</li>
        <li class="list-group-item">墓区：{$info.areaname}</li>
        <li class="list-group-item">墓穴：{$info.name}</li>
        <li class="list-group-item">朝向：{$info.name}</li>
        <li class="list-group-item">面积：{$info.area}</li>
        <li class="list-group-item">风格：{$info.stylename}</li>
       <li class="list-group-item">墓型:{$info.typename}</li>
         <li class="list-group-item">状态:{$info.usestatus|get_Cemeterystate}</li>
    </ul>
</div>    
                        </div>
                   </div>
                </div>
              <!-- /.tab-pane -->
  <div class="tab-pane" id="bury">
                   <div class="row">
                          <div class="col-xs-12">
                              <div class="box-header ">

      
        <a href="#" class="btn" onclick="show_deather_ajax({$info.id})" ><i class="fa fa-plus"></i> 新 增</a>
    </div>
                       <table class="table table-striped table-bordered" >
  <thead>
    <tr>
           
             <th>墓主</th>
             <th>墓主性别</th>
             <th>家属姓名</th>
             <th>联系方式</th>
           
             <th>安葬状态</th>
             <th>安葬时间</th>
             <th>安葬</th>
             <th>葬式</th> 
             <th>操作</th>
    </tr>
  </thead>
  
    {notempty name='Buryinfo'}
        <tbody>
            {volist name='Buryinfo' id='vo'}
                <tr {if $vo.burystatus eq 0 }class="danger"{/if}> 
				   <td>{$vo.vcname}</td>
				   <td>{$vo.sex|getsex}</td>
                                   <td>{$vo.linkname}</td>
				   <td>{$vo.phone}</td>
                                 
                                    <td>{$vo.burystatus|getBurystatus}</td>
				   <td>{$vo.bury}</td>
				   <td>{$vo.burytype|getburytype}</td>
                                   <td>{$vo.burystyle|getburystyle}</td>
				 
                  <td class=" text-center">
                  {if condition="$vo.burystatus eq 0"}
                    
                  <a href="#"  onclick="deather_edit_ajax({$vo['id']},{$vo['cid']})"><i class="fa fa-edit"></i>编辑</a> 
                    &nbsp;
                    <a href="#"  onclick="deather_del_ajax({$vo['id']},{$vo['cid']})" ><i class="fa fa-remove"></i>删除</a>  
                     {/if}
                 
                      </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    
  
</table>
          </div> </div>
                   </div>
       
             
               <div class="tab-pane" id="linkman">
                   <div class="row">
         <div class="col-xs-12">
                       <table class="table table-striped table-bordered" >
  <thead>
    <tr>
           
             <th>姓名</th>
             <th>性别</th>
             <th>联系电话</th>
             <th>关系</th>
             <th>工作单位</th>
             <th>家庭住址</th>
             <th>身份证</th>
               <th>操作</th>
    </tr>
  </thead>
  
    {notempty name='linkman'}
        <tbody>
            {volist name='linkman' id='vo'}
                <tr > 
				   <td>{$vo.linkname}</td>
				   <td>{$vo.sex|getsex}</td>
                                   <td>{$vo.phone}</td>
				   <td>{$vo.relation}</td>
                                 
                                    <td>{$vo.job}</td>
				   <td>{$vo.address}</td>
				   <td>{$vo.sfz}</td>
                                  
				 
                  <td class=" text-center">
                     <a href="#"  onclick="linkman_del_ajax({$vo['id']})" ><i class="fa fa-remove"></i>删除</a>  
                     </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    
  
</table>
          </div> 
      </div> 
              </div>  
              
              
               <div class="tab-pane" id="sfjl">
                   <div class="row">
         <div class="col-xs-12">
                      <table class="table table-striped table-bordered" >
  <thead>
    <tr>
          
            <th>编号</th>
            <th>单据</th>
            <th>购买人</th>
            <th>关系</th>
            <th>电话</th>
              <th>发票</th>
               <th>付款方式</th>
            <th>订单日期</th>
            <th>费用</th>
             <th>缴费状态</th>
                 
                  <th>操作</th>
    </tr>
  </thead>
  
    {notempty name='selllist'}
        <tbody>
            {volist name='selllist' id='vo'}
                <tr {if $vo.orderstatus eq 3 }class="danger"{/if}> 
				   <td>{$vo.orderNO}</td>
                                     <td>{$vo.financetype|getfinancetype}</td>

				   <td>{$vo.buyer}</td>
                                   <td>{$vo.relation}</td>
				   <td>{$vo.phone}</td>
                                   <td>{$vo.isvoice|getisInvoic}</td>
                                   <td>{$vo.paytype|getPayment}</td>
				   <td>{$vo.orderbegin}</td>
				    <td>{$vo.zj|default=0.00}</td>
                                   <td>{$vo.orderstatus|get_paystatus}</td>
				 
                  <td class=" text-center">
                     <a href="#"  onclick="show_sell_ajax({$vo['id']})"><i class="fa fa-edit"></i> 明细</a> 
                   
                    </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    
  
</table>
          </div> 
      </div> 
              </div>  
              
              <div class="tab-pane" id="bw">
                     
                      
        <div class="row">
            <div class="col-xs-12 htmls">
                {$mbhtml}
            </div>
      </div>
                </div>
              
            </div>
            <!-- /.tab-content -->
          </div>
            <div class="modal-footer"  >
         <a type="button" class="btn btn-default" data-dismiss="modal"> <span class="ladda-label"><i class="fa fa-close"></i> 关闭</span></a>
                 
      </div>    
              
          <!-- /.nav-tabs-custom -->
        </div>  
</section>
 
 <script>
function show_sell_ajax(id) {
    url = "{:url('Sell/Sell_bill_show')}";
     sj = Math.random(1000);
     $.post(url, {id:id, sj: sj }, function(result) {
        infodate = JSON.parse(result);
        if (infodate.code == 0) {
              $('#myModal3 .modal-title').html("显示单据明细");
              $('#myModal3 .modal-body').html(infodate.data);
              $("#myModal3").modal({ show: true, backdrop: false }); //手动开启*/
              
        } else {
             toast.error(infodate.msg);   
        }
    });
}

////增加死者信息
function show_deather_ajax(cid)
{
    url = "{:url('Bury/deather_add_show')}";
     sj = Math.random(1000);
     $.post(url, {cid:cid, sj: sj }, function(result) {
        infodate = JSON.parse(result);
        if (infodate.code == 0) {
              $('#myModal2 .modal-title').html("墓主管理");
              $('#myModal2 .modal-body').html(infodate.data);
              $("#myModal2").modal({ show: true, backdrop: false }); //手动开启*/
              
        } else {
             toast.error(infodate.msg);   
        }
    }); 
}

////增加死者信息
function deather_edit_ajax(id,cid)
{
    url = "{:url('Bury/deather_add_show')}";
     sj = Math.random(1000);
     $.post(url, {cid:cid,id:id,sj: sj }, function(result) {
        infodate = JSON.parse(result);
        if (infodate.code == 0) {
              $('#myModal2 .modal-title').html("墓主管理");
              $('#myModal2 .modal-body').html(infodate.data);
              $("#myModal2").modal({ show: true, backdrop: false }); //手动开启*/
              
        } else {
             toast.error(infodate.msg);   
        }
    }); 
}
function deather_del_ajax(id,cid)
{
     var info=confirm("您确定要删除该墓主信息吗？");
    if (info==true){
         url = "{:url('Bury/deather_delete_ajax')}";
        sj = Math.random(1000);
         data ="id=" +id+ "&cid="+cid+"&sj=" + sj
       $.post(url, data, function (result) {
            infodate = JSON.parse(result);
            if (infodate.code == 0) {
                  toast.success("该墓主的信息删除成功！");
                   $('#myModal').modal('hide');
            } else
            {
                  toast.error(infodate.msg);
            }
           
        });
    }
}

 function linkman_del_ajax(id)
{
     var info=confirm("您确定要删除该联系人信息吗？");
    if (info==true){
         url = "{:url('Archives/Linkman_delete_ajax')}";
        sj = Math.random(1000);
         data ="id=" +id+"&sj=" + sj
         $.post(url, data, function (result) {
            infodate = JSON.parse(result);
            if (infodate.code == 0) {
                 toast.success("该联系人信息删除成功！");
                  $('#myModal').modal('hide');
                   
                 
            } else
            {
                toast.error(infodate.msg);
            }
        });
    }
}
 
 </script>  