<div class="box">
  <div class="box-header ">
    
   <a class="btn" href="{:url('JxcproductAdd')}"><i class="fa fa-plus"></i> 新 增</a> 
    <div class="box-tools ">
        <div class="input-group input-group-sm search-form">
            <input name="search_data" class="pull-right search-input" value="{:input('search_data')}" placeholder="支持名称" type="text">
            <div class="input-group-btn">
              <button type="button" id="search" url="{:url('JxcunitList')}" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    <br/>
  </div>
    
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
      <tr>
          <th>编号</th>
          <th>产品名称</th>
          <th>类别</th>
           <th>单位</th>
            <th>规格</th>
	   <th>价格</th>
	   <th>供应商</th>
           <th>描述</th>
           <th>操作</th>
        
         
      </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.sn}</td>
                  <td>{$vo.name}</td>
                    <td>{$vo.cname}</td>
                     <td>{$vo.uname}</td>
                     <td>{$vo.spec}</td>
                    <td>{$vo.price}</td>
                     <td>{$vo.sname}</td>
                       <td>{$vo.vcdesc}</td>
                     <td class="col-md-3 text-center">
                   <a href="{:url('JxcproductEdit', array('id' => $vo['id']))}" class="btn"><i class="fa fa-edit"></i> 编 辑</a> 
                      &nbsp;
                <a class="btn confirm ajax-get"  href="{:url('JxcproductDel', array('id' => $vo['id']))}"><i class="fa fa-trash-o"></i> 删 除</a> 
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>

</div>

 