<form action="{:url()}" method="post" class="form_single">
    <div class="box">
      <div class="box-body">
        <div class="row">
          
 
          <div class="col-md-6">
            <div class="form-group">
              <label>仓库编号</label>
              <input class="form-control" name="sn" placeholder="仓库编号" type="text">
            </div>
          </div>
               <div class="col-md-6">
            <div class="form-group">
              <label>仓库名称</label>
              <input class="form-control" name="name" placeholder="仓库名称" type="text">
            </div>
          </div>
              <div class="col-md-6">
            <div class="form-group">
              <label>仓库地址</label>
              <input class="form-control" name="address" placeholder="仓库地址" type="text">
            </div>
          </div>
             <div class="col-md-6">
            <div class="form-group">
              <label>联系人</label>
              <input class="form-control" name="contact" placeholder="联系人" type="text">
            </div>
          </div>
              <div class="col-md-6">
            <div class="form-group">
              <label>手机号</label>
              <input class="form-control" name="phone" placeholder="手机号" type="text">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label> 描述</label>
			  <textarea class="form-control" name="vcdesc" rows="3" placeholder="请输入描述"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        {include file="layout/edit_btn_group"/}
      </div>
    </div>
</form>
