<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5px;

    }  
</style>

<section>
    <div class="row">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#timeline" data-toggle="tab" aria-expanded="false">碑文缴费</a></li>
                <li ><a href="#bw" data-toggle="tab" aria-expanded="false">碑文管理</a></li>


            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="timeline">

                    <div id="mb_show_data_table">
                        {$monumen_table}
                    </div>

                </div>

                <div class="tab-pane" id="bw">

                    <div class="row">
                     
                        <input type="hidden" class="iseditmb" name="iseditmb" value="{$iseditmb|default='0'}"/> 
                          <input type="hidden" name="ccid" value="{$info.id}"/>
                        {volist name='bury' id='vo' }
                        <input type="hidden" class="hiddenclass" name="bury[{$key}][name]" value="{$vo.vcname|default=''}"/> 
                        <input type="hidden" class="hiddenclass" name="bury[{$key}][sex]" value="{$vo.sex|default=0}"/> 
                        <input type="hidden" class="hiddenclass" name="bury[{$key}][birth]" value="{$vo.death}"/> 
                        <input type="hidden" class="hiddenclass" name="bury[{$key}][death]" value="{$vo.death}"/> 
                        {/volist}
                    </div>

                    <div class="row">
                        <div class="col-xs-12 bwhtmls">
                            {$mbhtml}
                        </div>
                    </div>
                  <div class="modal-footer"  >
         <a  href="#" onclick="monumen_save_submit(1);"  type="button"  class="btn btn-default">
             <span class="ladda-label"> <i class="fa fa-edit"></i> 保存
         </span>
         </a>  
                 
      </div>
                  
                </div>
            </div>
            <!-- /.tab-content -->
        </div>


        <!-- /.nav-tabs-custom -->
    </div>  
</section>

<script>

    function monumen_save_submit(type) {

        htmls = $('.bwhtmls').html()
        cid = $('input[name="ccid"').val()
        $.ajax({
            type: "POST",
            url: "{:url('Monumen/monumen_update_ajax')}",
            data: {cid: cid, htmls: htmls, type: type},
            dataType: "json",
            success: function (infodate) {
                if (infodate.code == 0) {
                    toast.success(infodate.msg);

                } else
                {
                    toast.error(infodate.msg);
                }
            }
        });
    }

</script>