 <table class="table table-striped table-bordered">
  
  <thead>
    <tr>
          
            <th>寄存地点</th>
            <th>寄存人</th>
	 
		  <th> 电话</th>
               
		  <th>逝者 </th>
		  <th>开始日期</th>
		  <th>结束日期</th>
                   <th>费用</th>
                   <th>缴费</th>
                  <th>状态</th>
                  <th>过期天数</th>
		  <th>取走日期</th>
                    <th>操作</th>
    </tr>
  </thead>
  
    {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr > 
				   <td>{$vo.saveareananme}</td>
				   <td>{$vo.buyer}</td>
                                   <td>{$vo.phone}</td>
                                  
				   <td>{$vo.deathname}</td>
				   <td>{$vo.savebegindate|date="Y-m-d",###}</td>
				   <td>{$vo.saveenddate|date="Y-m-d",###}</td>
                                   <td>{$vo.saveprice}</td>
                               <td>{$vo.orderstatus|get_paystatus}</td>
				   <td>{$vo.savestatus|get_savestatus}</td>
                                     <td>{$vo.ts}</td>
                                   <td>{$vo.canceldate}</td>
                  <td class=" text-center">
                 <a href="#"  onclick="save_pay_ajax({$vo['id']})"> <i class="fa fa-print"></i>结算/打印</a> 
                   &nbsp;
                     {if condition="$vo.orderstatus eq 1"}  
                  <a href="#"  onclick="save_ajax_show({$vo['id']},{$vo['cid']})"><i class="fa fa-edit"></i> 编辑</a> 
                     <a href="#"  onclick="save_del_ajax({$vo['id']},{$vo['cid']})" ><i class="fa fa-edit"></i>删除</a> 
                     {/if}
                      &nbsp;
                  <a href="#"  onclick="save_take_ajax({$vo['id']},{$vo['cid']})" ><i class="fa fa-edit"></i>取走</a> 
                    &nbsp;
                 
                      </td>
                </tr>
            {/volist}
        </tbody>
       
       {/notempty}
        <tbody><tr class="odd"><td colspan="13" class="text-center" valign="top"><a href="#" onclick="save_ajax_show(0,{$cid})"    class="btn"><i class="fa  fa-edit"></i>增加寄存记录</a>    </td></tr></tbody>
      
</table>