 
<div class="box">
     <div class="box-header ">
  <div class=" form-inline search-form  ">
        <div class="form-group">
            <label class="zhj-form-label">关键字：</label>
            <input name="search_data" class="form-control" value="{$formcs.search_data|default=''}" placeholder="寄存人|墓穴名称|死者姓名" type="text">
        </div>

        <div class="form-group">
            <label class="zhj-form-label">存放地址</label>
            <select name="saveareaid" id="saveareaid"  class="form-control">
                <option value="0" {if condition="(0==$formcs.saveareaid)"} selected="selected" {/if}>请选择</option>
                {volist name='savearea' id='vo'}
                <option value="{$vo.id}" {notempty name="$formcs['saveareaid']"}{if condition="$formcs['saveareaid'] eq $vo.id"} selected="selected" {/if}{/notempty} >{$vo.name}</option>
                {/volist}
            </select>
        </div>
        <div class="form-group">
            <label class="zhj-form-label">状态</label>
            <select name="savestatus" id="savestatus"  class="form-control">
                <option value="0" {if condition="(0==$formcs.savestatus)"} selected="selected" {/if}>请选择</option>
                 <option value="1" {if condition="(1==$formcs.savestatus)"} selected="selected" {/if}>寄存中</option>
                 <option value="2" {if condition="(2==$formcs.savestatus)"} selected="selected" {/if}>已取走</option>
            </select>
        </div>
        <div class="form-group">
            <label class="zhj-form-label">寄存日期</label>
            <input type='text' class="form-control rqinput" value="{$formcs.sbbegin|default=''}"  name="sbbegin" id="sbbegin"/>
            到        
            <input type='text' class="form-control rqinput" value="{$formcs.sbbegin|default=''}"  name="sbbegin" id="sbend"/>
        </div>

        <div class="form-group">
            <button type="button" id="search" url="{:url('Save/SaveList')}" class="btn btn-default" style=" margin-bottom: 6px;"><i class="fa fa-search"></i> 查询</button>
        </div>

 </div>
    </div>


    
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
      <tr>
          <th>寄存地址</th>
          <!--<th></th>-->
		  <th>寄存人</th>
		  <th>关系</th>
		  <th>联系电话</th>
          <th>家庭地址</th>
		  <th>逝者名称</th>
		  <th>开始日期</th>
		  <th>结束日期</th>
          <th>费用</th>
          <th>状态</th>

          <th>过期天数</th>
		  <th>取走日期</th>

          <th>操作</th>
      </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
				  <td>{$vo.saveareananme}</td>
				  <!--<td>{$vo.garden_name}/{$vo.area_name}/{$vo.c_canme}</td>-->
				  <td>{$vo.buyer}</td>
                                   <td>{$vo.relation}</td>
				   <td>{$vo.phone}</td>
                    <td>{$vo.address}</td>
                    <td>{$vo.deathname}</td>

				   <td>{$vo.savebegindate|date="Y-m-d",###}</td>
				  <td>{$vo.saveenddate|date="Y-m-d",###}</td>
                    <td>{$vo.saveprice}</td>
                    <td>{$vo.savestatus|get_savestatus}</td>

                    <td>{$vo.ts}</td>
                    <td>{$vo.canceldate}</td>

                 
                  <td class="col-md-3 text-center">
                   <!--<a class="btn confirm ajax-get"  href="{:url('SaveDel', array('id' => $vo['id']))}"><i class="fa fa-book"></i> 查看</a>-->

                      <a  href="#" onclick="save_take_ajax({$vo.id},{$vo.cid})" class="btn"><i class="fa fa-edit"></i>取走</a>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>

</div>

<script>
     $('#sbbegin').datetimepicker({
        format: 'yyyy-mm-dd', //显示格式可为yyyymm/yyyy-mm-dd/yyyy.mm.dd
        autoclose: true,
        startView: 2,
        minView: 'month',
        language: 'zh-CN' //语言
    });

    $('#sbend').datetimepicker({
        format: 'yyyy-mm-dd', //显示格式可为yyyymm/yyyy-mm-dd/yyyy.mm.dd
        autoclose: true,
        startView: 2,
        minView: 'month',
        language: 'zh-CN' //语言
    });
 
 function schedule(cid,sid) {
          url = "{:url('Schedule/ScheduleAdd_ajax_show')}";
        sj = Math.random(1000);
        $.post(url, {cid:cid,sid:sid,sj: sj}, function (result) {
            infodate = JSON.parse(result);
            if (infodate.code == 0) {
                $('#myModal .modal-title').html("墓穴预定");
                $('#myModal .modal-body').html(infodate.data);
                $("#myModal").modal({show: true, backdrop: false}); //手动开启*/
            } else {
                toast.error(infodate.msg);
            }
        });
}

 function schedule_delete2(id)
{
     var info=confirm("您确定要撤销该预订吗？");
    if (info==true){
         url = "{:url('Schedule/Schedule_delete_ajax')}";
        sj = Math.random(1000);
         data ="id=" +id+ "&sj=" + sj
       $.post(url, data, function (result) {
            infodate = JSON.parse(result);
            if (infodate.code == 0) {
                  toast.success("预订撤销操作成功！");
                  $('#myModal').modal('hide');
                 location.reload();   
            } else
            {
                  toast.error(infodate.msg);
            }
           
        });
    }
}
     function save_take_ajax(id,cid) {
         var info=confirm("您确定要取走吗？");
         if (info==true){
             url = "{:url('Save/Save_take_ajax')}";
             sj = Math.random(1000);
             data ="id=" +id+ "&cid="+cid+"&sj=" + sj
             $.post(url, data, function (result) {
                 infodate = JSON.parse(result);
                 if (infodate.code == 0) {
                     toast.success("取走操作成功！");
                     location.reload();
                 } else
                 {
                     toast.error(infodate.msg);
                 }

             });
         }
     }
</script>